<div class="col-md-6 col-md-offset-3">
  <div class="signup-form">
<span class="border border-danger">
<h1>Place in your offer</h1>
<p><strong><%= notice %></strong></p></span>
<%= simple_form_for ([@auction, @ticket]) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
<div class="alert alert-danger" role="alert">
        <%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
</div>
      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-inputs">
    <%= f.input :amount %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Bid", :class=>"btn btn-primary" %>
  </div>

<% end %>

</div>
</div>