
<p id="notice"><%= notice %></p>

<h1>Auctions</h1>

<%= simple_form_for :search, url: auctions_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :title, required: true, input_html: {value: ""} %>   
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>



<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Time left</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auctions.each do |auction| %>
      <tr>
        <td><%= auction.title %></td>
        <td><%= auction.description %></td>
        <td><%= auction.price %> zł</td>
        <td><%= TimeDifference.between(DateTime.now, auction.ends_at).humanize %></td>
        <td><%= link_to 'Show', auction %></td>

        <td><%= link_to 'Edit', edit_auction_path(auction) %></td>

        <td><%= link_to 'Destroy', auction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>  
  </tbody>
</table>
<br>

<%= link_to 'New Auction', new_auction_path %>
<center> <%= will_paginate @auctions %> </center>

